.m-login.m-login--1 .m-login__wrapper .m-login__form .m-form__group {
	height: 60px;
}

.m-login.m-login--1 .m-login__wrapper .m-login__form {
	margin-top: 2rem;
}

.form-control[readonly],
.form-control {
	border-color: #ebedf2;
	color: #575962 !important;
}

.m-login.m-login--1 .m-login__wrapper {
	padding: 0px;
}

.m-login.m-login--1 .m-login__wrapper .m-login__form .m-login__form-action {
	margin: 2rem 0 2rem 0;
}

.m-portlet .m-portlet__head.xs-display-mobile .nav.nav-pills,
.nav.nav-tabs {
	margin-bottom: 0px;
}

.m-portlet .m-portlet__head.xs-display-mobile .m-portlet__head-title .m-portlet__head-text .nav-tabs {
	border-bottom: 0px;
}

@media (max-width: 1024px) {
	.m-form .m-form__section {
		margin: 0px;
	}
}

@media (max-width: 575px) {
	.m-portlet.m-portlet--mobile .m-portlet__body.seclect-padd-bottom .form-control {
		margin-bottom: 20px;
	}
	.m-portlet.m-portlet--mobile .m-portlet__body .button-padd-bottom {
		margin-bottom: 20px;
	}
	.m-portlet .m-portlet__head.xs-display-mobile {
		display: contents;
	}
	.m-portlet .m-portlet__head.xs-display-mobile .nav.nav-pills,
	.nav.nav-tabs {
		margin-bottom: 0px;
	}
	.m-portlet .m-portlet__head.xs-display-mobile .m-portlet__head-title {
		margin-top: 20px;
	}
	.m-portlet .m-portlet__head.xs-display-mobile .m-portlet__head-title .nav-link {
		display: block;
		padding: .5rem 8px;
	}
	.m-portlet .m-portlet__head.xs-display-mobile .m-portlet__head-tools {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.m-portlet .m-portlet__head.xs-display-mobile .m-portlet__head-title .m-portlet__head-text .nav-tabs {
		border-bottom: 0px;
		padding-left: 10px;
	}
}

@media (min-width: 1025px) {
	.m-form .m-form__section {
		margin: 40px 0 20px 0;
	}
	.m-form .m-form__group:last-child {
		padding-bottom: 10px;
	}
}

@media (max-width: 991px) {
	.form-group.m-form__group {
		padding-top: 7px !important;
		padding-bottom: 7px !important;
	}
	.m-portlet .m-portlet__body {
		padding: 1.2rem 2.2rem;
	}
}

@media (max-width: 767px) {
	.table.table-striped-.table-bordered {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}
}

.hidden {
	display: none;
}

.show {
	display: block;
}

.m-form .m-form__section:first-child,
.m-form .m-form__section.m-form__section--first {
	margin-top: 20px;
	margin-bottom: 20px;
}

.form-group {
	position: relative;
	margin-bottom: 20px;
}

.form-group.m-form__group label.error {
	position: absolute;
	bottom: -25px;
}

.m-grid__item .m-form .m-portlet__body h4 {
	padding-top: 20px;
}

.m-card-user.m-card-user--skin-dark .m-card-user__details .m-card-user__name {
	color: #000;
	font-weight: 600;
}

.m-nav .m-nav__item>.m-nav__link .m-nav__link-text {
	color: #000000;
}

.m-login.m-login--1.m-login--signin .form-group {
	position: relative;
	margin-bottom: 20px;
}

.m-login.m-login--1.m-login--signin .form-group.m-form__group label.error {
	position: absolute;
	bottom: -10px;
	left: 0px;
}

.mar-top-15 {
	margin-top: 15px !important;
}

@media (max-width: 991px) {
	.m-form .m-form__section:first-child,
	.m-form .m-form__section.m-form__section--first {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.m-login.m-login--1.m-login--signin .form-group.m-form__group label.error {
		bottom: -15px;
	}
}

.m-footer {
	padding: 20px 30px;
}

.col-form-label {
	padding-bottom: calc(.35rem + 1px);
}

@media (max-width: 1024px) {
	.m-footer .m-footer__copyright {
		margin-bottom: 0px;
	}
}

@media (max-width: 500px) {
	.gouv_pricings-inner-page .m-portlet__head {
		display: inline-block !important;
		width: 100%;
		margin: 10px 0px;
	}
	.gouv_pricings-inner-page .m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav {
		display: -webkit-inline-box;
	}
	.gouv_pricings-inner-page .m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item {
		padding: 0px;
	}
	.gouv_pricings-inner-page .m-portlet__head-caption,
	.m-portlet__head-tools {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}


/*@media (max-width: 768px) {
	.m-login.m-login--1 .m-login__aside {
	    padding: 0rem 11rem;
	}
}
*/

.bill-print-page thead tr th:first-child,
tbody tr td:first-child {
	width: 156px;
}


/* singup page */

.auther-sign-page .m-login.m-login--1 .m-login__wrapper {
	overflow: unset;
}

.m-login.m-login--1 .m-login__aside .m-login__wrapper .m-login__logo {
	margin: 0;
}

.m-login.m-login--1 .m-login__aside .m-login__wrapper .m-login__logo a img {
	width: 150px;
}

.btn-focus {
	color: #fff;
	background-color: #ffc430;
	border-color: #ffc430;
}

.btn-focus:hover {
	color: #fff;
	background-color: #ca9103;
	border-color: #ca9103;
}

.btn-focus:focus,
.btn-focus.focus {
	-webkit-box-shadow: 0 0 0 0.2rem rgba(255, 196, 48, 0.58) !important;
	box-shadow: 0 0 0 0.2rem rgba(255, 196, 48, 0.5) !important;
}

.btn-focus:not(:disabled):not(.disabled):active,
.btn-focus:not(:disabled):not(.disabled).active,
.show>.btn-focus.dropdown-toggle {
	color: #fff;
	background-color: #ca9103 !important;
	border-color: #ca9103 !important;
}

.btn-focus:not(:disabled):not(.disabled):active:focus,
.btn-focus:not(:disabled):not(.disabled).active:focus,
.show>.btn-focus.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 0.2rem rgba(255, 196, 48, 0.58) !important;
	box-shadow: 0 0 0 0.2rem rgba(255, 196, 48, 0.58) !important;
}

.btn-outline-focus.m-btn--air.focus,
.btn-outline-focus.m-btn--air:focus,
.btn-outline-focus.m-btn--air:hover,
.btn-focus.m-btn--air.focus,
.btn-focus.m-btn--air:focus,
.btn-focus.m-btn--air:hover,
.m-btn--gradient-from-focus.m-btn--air.focus,
.m-btn--gradient-from-focus.m-btn--air:focus,
.m-btn--gradient-from-focus.m-btn--air:hover {
	-webkit-box-shadow: 0px 5px 10px 2px rgba(255, 196, 48, 0.58) !important;
	box-shadow: 0px 5px 10px 2px rgba(255, 196, 48, 0.58) !important;
}

.btn-outline-focus.m-btn--air,
.btn-focus.m-btn--air,
.m-btn--gradient-from-focus.m-btn--air {
	-webkit-box-shadow: 0px 5px 10px 2px rgba(255, 196, 48, 0.58) !important;
	box-shadow: 0px 5px 10px 2px rgba(255, 196, 48, 0.58) !important;
}

.m-link {
	color: #3a3a3a;
}

.auther-sign-page .m-login__aside {
	margin: 0 auto !important;
}

.colum-inline {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.table.table-striped-.table-bordered {
	/*display: block;*/
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.error {
	color: red !important;
}

.help-block {
	color: red !important;
}